# Manufacturers
COMPANY_CODE=1177
# Mapping Gateway MAC → name label
GATEWAY_NAMES='{"F3:2D:EF:E7:2E:78":"Station 1","C8:25:2D:8E:9C:2C":"Station 2"}'
# Mapping Tag MAC → name label
TAG_NAMES='{"CE:52:DE:73:84:F2":"Frigo 1","AB:CD:EF:12:34:56":"Congélateur"}'
# MQTT
MQTT_HOST=localhost
MQTT_PORT=8883
MQTT_PROTOCOL=mqtts
MQTT_TOPIC='ruuvi/#'
# Auth
MQTT_USERNAME=
MQTT_PASSWORD=
# TLS
MQTT_CA='<path to ca.crt>'
MQTT_CERT='<path to gateway.crt>'
MQTT_KEY='<path to gateway.key>'
MQTT_REJECT_UNAUTHORIZED=true
# Storage backend: "influxdb" | "mariadb" | "both"
STORAGE_BACKEND=both
# MariaDB
MARIA_HOST=localhost
MARIA_PORT=3306
MARIA_USER=ruuvi
MARIA_PASSWORD=<password>
MARIA_DATABASE=ruuvi
MARIA_BUFFER_SIZE=100
# Influx
INFLUX_URL=http://localhost:8086
INFLUX_TOKEN=<token>
INFLUX_ORG=ruuvi-org
INFLUX_BUCKET=ruuvi
# HTTP
NODE_ENV=development
HTTP_PORT=3002
BUFFER_SIZE=500
FLUSH_INTERVAL=5000
